.container {
  background: #fff;
  border-radius: 6px;
  padding: 2.3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.ant-form {
  width: 100%;
}

.convert-btn.ant-btn-primary {
  background: #000;
  border-color: #000;
  outline: none;
  width: 140px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.convert-btn.ant-btn-primary:hover,
.convert-btn.ant-btn-primary:active,
.convert-btn.ant-btn-primary:focus {
  background: #464646;
}

.ant-form-item-control-input-content .input-number {
  width: 100%;
  outline: none;
  border: solid #d9d9d9;
  border-width: 0 0 2px;
  -webkit-appearance: none;
}

.ant-form-item-control-input-content .input-number:hover {
  border: none;
}

.ant-input-number-handler-wrap {
  display: none;
}
