section.ant-layout {
  padding: 60px;
  background: url('./assets/img/mint-green-bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.ant-layout-content {
  background-color: #41a386;
  padding: 0 100px;
  height: 100%;
}
